@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
}
h2{
  color: white;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border-bottom: 2px solid white;
  height: 40px;
}
input:active::placeholder {
  color: white;
  opacity: 1;
  transform: translate(0, -15px);
}

input:focus {
  outline: none;
  border-bottom: 2px solid #00aced;

}
i{
  color: white;
  margin-right: 10px;
  font-size: 18px;
}
.bi-person, .bi-eye{
  position:relative;
  left: 90%;
  top: -38px;
  z-index: (reflective);
}

button {
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #1a1c1d00;
  color: white; 
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 5px;
   
}
