@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


#root{
  margin: 0;
  
  
  height: 100vh;
  
}
body{
  margin: 0;
 
}
.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 0;
}
.hero-section{

  height: 100%;
  width: 100%;
  margin: 0;
  color: whitesmoke;
 
  
}
.hero-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.9px);
  position: relative;
  top: 0;
  left: 0;
  
}
.bg-overlay{
  position: relative;
  top: -100.4%;
  width: 97.8%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;

}
.hero-section h1{
  
  margin: 0;
  padding: 0;
  font-family: 'serif';
  font-size: 4rem;
}
.hero-section h1 i{
  color: #4eff08;
}